html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    height: 958px;
    background: url("/images/h_bg@2x.png") no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-self: center;

    .title-block {}
}